.title {
    color: rgb(251, 255, 7);
    text-shadow: 3px 3px 3px rgb(20, 1, 15), 5px 5px 5px rgb(250, 6, 177);
    width: 100%;
    text-align: right;
    font-size: 2.5rem;
    transition: .5s;
    margin-top: 35px;
    margin-bottom: 40px;
}

.title:hover {
    transform: scale(1.3);
    color: rgb(251, 255, 7);
    text-shadow: 2px 2px 0px rgb(12, 109, 3);
    transition: .5s;
}