.card {
  background: rgb(250, 3, 209);
  position: relative;
  width: 200px;
  box-shadow: 0 6px 12px rgb(11, 250, 3), 0 3px 6px rgb(182, 4, 137);
  text-align: left;
  margin-left: 50px;
  border: 20px;
  border-color: black;
  border-radius: 12px;
  height: 200px;
  margin: 1.2rem;
}

.card>.img-container {
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transition: all .8s;
  background: radial-gradient(rgb(243, 24, 24), rgb(243, 178, 36));
}

.card>.img-container>img {
  position: inherit;
  width: 120%;
  margin-left: -10%;
  margin-bottom: -150px;
}

.card>.img-container:hover {
  transform: rotate(360deg);
  transition: all .8s;
  background: radial-gradient(rgb(41, 241, 91), rgb(238, 241, 13));
}