nav {
    width: 100%;
    background-image: url(../img/sp-nav2.png);
    font-size: 3rem;
    color: rgb(49, 9, 224);
    margin-bottom: 50px;
    height: 166px;
    transition: .4s;
    box-shadow: 8px 8px 10px #f1ee0d;
}

#parallax:hover {
    position: relative;
    transform: scale(1.06);
    transition: .4s;
    z-index: 0;
}

#parallax:hoverOut {
    position: relative;
    transition: .4s;
    z-index: 0;
}

#rw {
    color: rgb(250, 4, 4);
    transition: all .8s;
}

#rw:hover {
    color: rgb(250, 4, 4);
    transform: scale(1.5);
    transform: rotate(360deg);
    transition: all .8s;
    text-transform: uppercase;
}

#rw:hover a p.new-label:after {
    content: 'YOU BASTARD!!';
}

a {
    color: rgb(255, 22, 22);
    font-size: 3.8rem;
}

a:hover {
    color: rgb(3, 173, 40);
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
}

ul {
    padding-left: 0px;
}